body{
  background-color:#ef3939;
}
#para{
  color: white;
  font-size: 30px;
  text-align: center;

}
.form-group{
  left: 200px;
}


#logo{
  box-sizing: border-box;
  border-radius: 10px;
}
.jumbotron h1{
  font-size: 65px;
  text-shadow: red;
  text-shadow: 3px 3px red;
}
.jumbotron {
  margin-top: 50px;
  background-color: black;
  border: solid red 2px;
  padding-top: 20px;

}
.jumbotron h2 {
  padding-top: 50px;
  padding-left: 400px;
  color: white;
  font-size: 50px;
  font-family: fantasy;
  font-style: italic;
  text-shadow: 2px 2px red;

}

.btn {
  background-color: black;
}
.stagedReveal {
  display: none;
  left: 200px;
}
.heading {
  color: white;
  font-size:40px;
}
#pizza1{
  left: 150px;
}
.row2{
  display: flex;
  padding: 15px;

}
.image {
  box-sizing: content-box;
  box-sizing: borderbox;
  border: 5px solid black;
  border-radius: 10%;
}
#one {
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 10%;

}
#two{
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 10%;
}
#three{
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 10%;
}
.framed {
  border: solid white 2px;
  border-radius: 6px;
  padding: 25px;
  color: white;
  margin-top: 40px;
  background-color: black;

}
.addressText h4 {
  padding-left: 150px;
}
#logo {
  float: left;
}
#totalDiv {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
