body{
  background-color: #ef3939;
}
#logo{
  box-sizing: border-box;
  border-radius: 100%;
}
.jumbotron {
  margin-top: 50px;
  border: solid red 2px;
  padding-top: 20px;
}
.jumbotron h1 {
  padding-top: 50px;
  padding-left: 250px;
  color: white;
  font-size: 60px;
}
.row1{
  display: flex;
}
  .col-md-4{
    flex-direction: column;
  }
h2{
  text-align: center;
  color: white;
  font-size: 50px;
}
